importFrom("methods")
exportClasses("fingerprint")
exportClasses("nfeatvec")
exportMethods("fold", "euc.vector", "distance",
              "random.fingerprint", "as.character", "as.numeric",
              "length", "show")
export("fp.sim.matrix", "fp.to.matrix", "fp.factor.matrix",
       "fp.read.to.matrix", "fp.read",
       "moe.lf", "bci.lf", "cdk.lf", "ecfp.lf",
       "bit.spectrum", "balance", "bit.importance")
useDynLib(fingerprint)
