# Export all names
exportPattern("^[[:alpha:]]+")

# Import all packages listed as Imports or Depends
importFrom("utils", "URLencode", "download.file", "read.csv")
importFrom("stringr", "str_detect")
importFrom("base64enc", "base64decode")
importFrom("utils", "read.table")
import(
  XML,
  RCurl,
  RJSONIO,
  data.table,
  iterators,
  itertools,
  fingerprint,
  methods
)
